################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# IDEs and editors
.vs/
ECommerceFood/obj/
ECommerceFood/bin/

/.vs/